<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
</head>

<body>
  <div class="bg-banner lg:h-[900px] w-auto bg-cover bg-no-repeat text-center text-white flex flex-col h-screen">
    <div class="border-b-[1px] border-solid border-gray-500">
      <div class="flex items-center max-w-5xl m-auto h-[100px] justify-between px-3 lg:px-0">
        <img src="./assets/images/logo.png" srcset="./assets/images/logo.png 1x, ./assets/images/logo_2x.png 2x" alt="">
        <nav class="flex-row hidden gap-4 text-sm font-medium lg:text-base lg:gap-6 md:flex">
          <a href="#">Home</a>
          <a href="#leasing">Leasing & Charter</a>
          <a href="#management">Aircraft Management</a>
          <a href="#benfits">Benefits</a>
          <a href="#">Contact Us</a>
        </nav>
      </div>
    </div>
    <div class="grid items-center justify-center w-full h-full">
      <div class="max-w-[900px] px-3 lg:px-0">
        <h1 class="leading-snug text-white">Safe, Convenient & Efficient</h1>
        <p class="text-2xl mt-9">
          All over the world by plane - this is your future, the best provision of which is our present!
        </p>
      </div>
    </div>
  </div>
  <h1 class="max-w-3xl m-auto mt-24 text-4xl leading-normal text-center md:text-5xl hl">
    Private Jet for Business and Leisure Purposes
  </h1>
  <div id="leasing" class="relative mb-36 group">
    <div class="container flex flex-col max-w-5xl gap-20 px-3 mx-auto lg:flex-row mt-14 lg:px-0">
      <div class="mt-10">
        <h3>Aircraft Leasing</h3>
        <p class="text-base">Unfortunately, we did not come up with leasing, but we had the opportunity to make this service as attractive as possible and improve its level every day!
          In addition to the traditional financial attractiveness of leasing (no balance troubles, no need for maintenance, etc.), we have brought something more - your high wishes have become available on earth.
          All the cream goes to you, and we will take care of the whole routine.</p>
      </div>
      <img class="transition-all duration-1000 group-[.is-visible]:translate-x-0  md:translate-x-[100vw] shadow"
        src="./assets/images/leasing_pic.jpg"
        srcset="./assets/images/leasing_pic.jpg 1x, ./assets/images/leasing_pic_2x.jpg 2x">
    </div>
    <div class="container flex flex-col max-w-5xl gap-20 px-3 mx-auto lg:flex-row-reverse lg:-mt-20 lg:px-0">
      <div class="mt-20 lg:mt-32">
        <h3>Aircraft Charter</h3>
        <p class="text-base">Chartering an aircraft is an opportunity to put our best entrepreneurial qualities to your advantage. We are not inferior to our competitors in terms of speed, quality and efficiency of the task. But we are out of reach for them in that in most cases they turn to us and for us the active growth of new customers, partners and friends remains a mystery.
        </p>
      </div>
      <img class="transition-all duration-1000 group-[.is-visible]:translate-x-0 md:-translate-x-[100vw] shadow"
        src="./assets/images/charter_pic.jpg"
        srcset="./assets/images/charter_pic.jpg 1x, ./assets/images/charter_pic_2x.jpg 2x">
    </div>
  </div>
  <div class="bg-no-repeat bg-cover bg-dark bg-map" id="management">
    <div class="max-w-3xl px-3 py-48 mx-auto lg:px-0">
      <h1 class="mb-10 text-gold">Service management</h1>
      <div class="text-2xl text-white">
        <p>We know what you don't need to know. We have answers to all questions: how, why and why in terms of service management.<br>
          The competence of our specialists meets the highest professional requirements.<br>
          It is enough to use them only once to understand that the search for another artist is a waste of time.<br>
          Instead of hassle, you will only have to read our reports on the found logistical and economic solutions over a cup of aromatic coffee. The taste of coffee will only become brighter! It remains only to let us solve your problems in the best possible way.</p>
      </div>
    </div>
  </div>
  <div class="w-full px-3 lg:px-0">
    <h1 class="max-w-4xl mx-auto my-24 text-4xl text-center md:leading-snug md:text-5xl">Learn More About Our Premium
      Private Jet
      Services</h1>
    <div class="flex flex-col lg:flex-row">
      <div class="justify-end hidden w-1/4 lg:flex">
        <div id="slideshow" style="background-image: url('./assets/images/slider1_2x.jpg')"
          class="top-[8%] relative z-20 -right-[20%] transition-all duration-1000 bg-cover bg-no-repeat h-[680px] w-[380px]">

        </div>
      </div>
      <div class="w-full lg:w-3/4 px-3 lg:px-0 bg-[#F2F0EF] py-16 lg:pl-48 z-10 relative" id="benfits">
        <div class="grid max-w-3xl grid-cols-1 md:grid-cols-2 gap-y-12 gap-x-36 services">
          {% for service in site.data.services %}
          <div>
            <img src="./assets/images/{{service.icon}}.png"
              srcset="./assets/images/{{service.icon}}.png 1x, ./assets/images/{{service.icon}}_2x.png 2x">
            <h3>{{ service.name }}</h3>
            <p>{{service.description}}</p>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <img src="./assets/images/airplane_on_land.png" alt="Airplane on land" class="relative z-30 mx-auto -mt-10">
  <footer class="py-10 bg-dark">
    <div
      class="flex flex-col items-center max-w-6xl gap-8 mx-auto text-white lg:items-start lg:gap-0 lg:justify-between lg:flex-row">
      <div>
        &copy; 2023 Peak Exclusive FZ-LLC
        <br>
        LICENSE No. 5026454
      </div>
      <div>
        B12-402<br>
        Acedemic Zone0-Business Center 5<br>
        RAKEZ Business Zone-FZ<br>
        <br>
        +971 58 120 9360
      </div>
      <div>
        <img src="./assets/images/logo.png" srcset="./assets/images/logo.png 1x, ./assets/images/logo_2x.png 2x" alt="">
        </dir>
      </div>
  </footer>
  <div id="contact-form" class="fixed left-0 px-24 py-10 transition-all duration-500 bg-white shadow-xl">
    <form data-static-form-name="contact">
      <div class="grid grid-cols-2 gap-3">
        <input type="text" placeholder="First Name*" name="First name" required>
        <input type="text" placeholder="Last Name*" name="Last name" required>
        <input type="email" placeholder="Email*" name="Email" required>
        <input type="tel" placeholder="Telephone" name="Tel">
        <textarea name="Message" rows="4" class="col-span-2 resize-none" placeholder="Message*" required></textarea>
      </div>
      <button type="submit" class="h-10 px-3 my-3 text-base font-medium text-white bg-gold">Equire</button>
    </form>
    <div id="tab" onclick="javascript: toggleContact()">
      <div class="flex items-center justify-center w-full gap-5">
        <div>Equire Now +971 58 120 9360</div>
        <img class="transition-all arrow" src="./assets/images/right_arrow.png"
          srcset="./assets/images/right_arrow.png 1x, ./assets/images/right_arrow_2x.png 2x">
      </div>

    </div>
  </div>
  {{content}}
  <script>
    const observer = new IntersectionObserver(onLeasingInView, {
      threshold: .5
    })

    function onLeasingInView(entries, opts) {
      if (!entries[0].isIntersecting) return
      console.log('on')
      document.querySelector('#leasing').classList.add('is-visible')
    }

    observer.observe(document.querySelector('#leasing'))

    const slideShowImages = [
      './assets/images/slider1_2x.jpg',
      './assets/images/slider2_2x.jpg',
      './assets/images/slider3_2x.jpg',
    ]
    let slide = 0;
    const slideShow = document.querySelector('#slideshow');
    setInterval(() => {
      slide = (slide + 1) % slideShowImages.length;
      slideShow.style.backgroundImage = `url(${slideShowImages[slide]})`;
    }, 5000);


    function toggleContact() {
      document.querySelector('#contact-form').classList.toggle('open');
    }
  </script>
</body>

</html>